# Ignore Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# Ignore Rider files
.idea/

# Ignore build output
/bin/
/obj/

# Ignore NuGet packages
*.nuget.props
*.lock
packages/

# Ignore .NET SDK files
*.dll
*.exe

# Ignore user-specific files
*.vscode/
*.vssettings

# Ignore SQLite database files
*.sqlite

# Ignore SQL Server database files
*.mdf
*.ldf

# Ignore configuration files that may contain sensitive information
appsettings.json
/DentalServer/DentalServer/bin/Debug/net8.0/DentalServer.dll
/DentalServer/DentalServer/bin/Debug/net8.0/DentalServer.exe
/DentalServer/DentalServer/bin/Debug/net8.0/DentalServer.pdb
/DentalServer/DentalServer/obj/Debug/net8.0/ref/DentalServer.dll
/DentalServer/DentalServer/obj/Debug/net8.0/refint/DentalServer.dll
/DentalServer/DentalServer/obj/Debug/net8.0/apphost.exe
/DentalServer/DentalServer/obj/Debug/net8.0/DentalServer.AssemblyInfo.cs
/DentalServer/DentalServer/obj/Debug/net8.0/DentalServer.AssemblyInfoInputs.cache
/DentalServer/DentalServer/obj/Debug/net8.0/DentalServer.dll
/DentalServer/DentalServer/obj/Debug/net8.0/DentalServer.pdb
/DentalServer/DentalServer/obj/Debug/net8.0/DentalServer.sourcelink.json
/DentalServer/DentalServer/obj/Debug/net8.0/DentalServer.assets.cache
/DentalServer/DentalServer/obj/DentalServer.csproj.nuget.dgspec.json
/DentalServer/DentalServer/obj/DentalServer.csproj.nuget.g.props
/DentalServer/DentalServer/obj/project.assets.json
/DentalServer/DentalServer/obj/project.nuget.cache
